* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.orange-text {
  color: #ffad5a;
}

.header-text:first-child {
  color: #333333;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #f6a860;
  color: white;
  padding: 15px;
  align-items: center;
}

.nav-bar ul {
  display: flex;
  justify-content: space-around;
}

.nav-bar ul li a {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

#brand-logo {
  padding-left: 15px;
  font-weight: bold;
  font-size: 1.5em;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 50px;
  padding: 0px 130px;
}

.header div {
  margin: 50px 50px;
}

.header-text h1 {
  font-family: 'Yeseva One', cursive;
  font-size: 60px;
  line-height: 80px;
}

.header-text {
  width: 50%;
}
.header-photo {
  width: 50%;
  padding-left: 130px;
}
.header-photo img {
  width: 378px;
  height: 396px;
  margin-top: 10px;
}

.btn-red {
  width: 172px;
  height: 48px;
  background-color: #ff5959;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 20px;
}

.card {
  width: 360px;
  height: 376px;
  background-color: rgba(79, 157, 166, 0.1);
  border-radius: 26px;
}
